* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

body {
	background-color: rgb(28, 28, 28);
	margin: 0;
}

h1 {
	margin-top: 150px;
	justify-content: center;
	display: flex;
	color: rgb(201, 201, 201);
	font-size: 60px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
		Geneva, Verdana, sans-serif;
}

.canvas-text {
	font-size: 60px;
	color: #ddd;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
		Geneva, Verdana, sans-serif;
	position: absolute;
	top: 40vh;
	left: 38vw;
	opacity: 0;
	display: none;
}
.canvas-text.show {
	display: block;
	animation: blink 2.5s ease infinite;
}

fieldset {
	display: flex;
	width: 250px;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	border: #D3868C solid 2px;
}
fieldset>legend{
	color: #D3868C;
	font-family: "Roboto";
	font-size: 1.2em;
}

.controls{
	position: absolute;
	top: 21vh;
	left: 2vw;
}

.range-container{
	color: #eee;
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 5px 0;
}

.pathFinders {
	height: 150px;
	position: absolute;
	top: 36vh;
	left: 2vw;
}

.auto-container{
	height: 150px;
	position: absolute;
	top: 63vh;
	left: 2vw;
}

.button {
	cursor: pointer;
	width: 75%;
	padding: 10px 0;
	font-family: "Roboto";
	font-weight: 500;
	color: #1e1e1ee0;
	background: #eee;
	border-radius: 20px;
	border: none;
	transition: 0.1s ease-out;
}
.button:hover {
	transform: scale(1.07);
	transition: 0.1s ease-in;
}
.button.active{
	background: #96e06c;
}

@keyframes blink {
	0% {
		opacity: 0.05;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0.05;
	}
}
